.footer {
  display: flex;
  background-color: $primary-color;
  justify-content: space-between;
  align-items: center;
  padding: 20px 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  p {
    font-size: .8rem;
    color: $light;
  }

  .footer-icons {
    i {
      margin: auto 4px;
      color: $light;
    }
  }
}