.footer {
  display: flex;
  background-color: $primary-color;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  p {
    font-size: .6rem;
    color: $light;
  }

  .footer-icons {
    i {
      margin: auto 4px;
      color: $light;

      &:hover {
        color: $accent;
        transition: .5s;
        transform: scale(1.1);
      }
    }
  }
}