@import './colours';
@import './mixins';
@import './media-size';

// Reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $primary-color;
  color: $light;
}

form {
  margin-top: 64px;
}

h1 {
  font-weight: 900;
  color: $accent;
  font-size: 2rem;
}

h2 {
  font-weight: 300;
  color: $space-grey;
  font-size: 1.7rem;
  margin-top: 80px;
}

hr {
  background-color: $accent;
  border-color: $accent;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 16px;
}

main {
  padding: 24px 36px;
  margin-bottom: 36px;
}

p {
  line-height: 1.8;
}

section {
  margin-top: 32px;
}

span {
  color: $accent;
}


// *** Start Tablet View ***
@media (min-width: 768px) {
  main {
    padding-bottom: 128px;
    @include tablet;
  }
}
// *** End Tablet View ***

// *** Start Small Laptop View ***
@media (min-width: 1024px) {
  
  main {
    max-width: $laptop-size;
  }
}
// *** End Small Laptop View ***

// *** Start Large Laptop View ***
@media (min-width: 1440px) {
  main {
    max-width: $large-laptop-size;
  }
}
// *** End Large Laptop View ***